<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet", type="text/css", href="{{url_for('static', filename='styles/scrollmenu.css')}}">
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/upload"> Transform an image</a> </li>
    <li><a href="/content_gallery">Content Images</a></li>
    <li><a href="/style_gallery">Style Images</a></li>
    <li><a href="/results_gallery">Results Gallery</a></li>
    <li><a href="/help">Help</a></li>
</ul>

    {% block content %}{% endblock %}
</body>
</html>