{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>image_name</title>
    <link rel="stylesheet", type="text/css", href="{{url_for('static', filename='styles/scrollmenu.css')}}">

</head>
<body>
    <div style="float:left; width=35%">
        <p>uploaded images</p>
        <div class="scrollmenu" style="width:900px;height:800px">
            {% for im in images %}
                <a href="{{url_for('data_path', filename='style/'+im)}}">
                    <img src="{{url_for('data_path', filename='style/'+im)}}" width="230"/></a>
            {% endfor %}
            <!-- TODO: Resize or crop the images to have something nice-->
        </div>
    </div>
    <div style="float:left; margin-left: 10px; width=35%"><p>Or upload your own</p>
        <form method=post enctype=multipart/form-data>
            <p><input type=file name=file>
                <input type=submit name="submit" value=Upload>
            </p>
        </form>
    </div>
</body>

{% endblock %}